:root {
    --color1: #F47CAC;
    --color2: #007AAE;
    --color3: #00B6FF;
    --color4: #FF99C2;
    --color5: #FDF4E3;
    --color6: #b04d98;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* xa q el padding no afecte al tamaño de los elementos*/
}

header {
    background-color: var(--color2);
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--color5);
    width: 100%;
    /* xa q ocupe todo el ancho */
}

header h1 {
    margin: 10px;
    /* margen */
}

body {
    background-color: var(--color1);
    font-family: Arial, sans-serif;
    color: var(--color5);
    line-height: 1.6;
    padding: 0;
}

h2 {
    margin: 0;
    /* elimina el margen */
}

iframe {
    width: 100%;    /* Ocupa el 100% del ancho disponible */
    height: 600px;    /* Ajusta la altura, dependiendo del tamaño del contenido */
    border: none;    /* Quita los bordes si no los necesitas */
    margin: 20px auto;
    border: none;
}

footer {
    display: flex;
    /* flexbox para organizar los elementos */
    justify-content: space-between;
    /* separar los elementos principales */
    align-items: center;
    /* centrar verticalmente */
    background-color: var(--color2);
    /* color fondo del footer */
    padding: 10px;
    /* espaciado interno */
    color: var(--color5);
    /* color del texto */
    font-size: 1rem;
    /* tamaño del texto */
    margin-top: 10px;
    /* margen superior */
    padding-left: 30em;
    /* margen izquierdo */
    padding-right: 10em;
    /* margen derecho */
}

footer a {
    color: var(--color5);
    /* color del enlace */
    text-decoration: none;
    /* eliminar subrayado */
    font-weight: bold;
    /* modificar texto a negrita */
}

footer a:hover {
    color: var(--color4);
    /* cambiar color al pasar el mouse */
}

#validador-w3c {
    display: flex;
    /* organizar elementos */
    align-items: center;
    /* centrar la imagen */
    margin-right: auto;
    /* alinear a la izquierda */
    gap: 3px;
    /* reducir el espacio entre la imagen y el contenido cercano */
}

#validador-w3c img {
    display: block;
    /* asegura que no tenga espacios adicionales */
    margin: 0;
    /* borrar márgenes */
    width: 88px;
    /* tamaño imagen */
    height: auto;
    /* mantener proporciones fijas para evitar distorsionar la imagen*/
}

footer div {
    text-align: left;
    /* texto a la izq */
}

footer p {
    margin: 10px;
    /* añadir márgenes al texto */
    line-height: 1.5;
    /* espaciado entre lineas */
}